/* Body styling */
body {
  background-color: #c6a988;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

/* Logo styling */
.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover effect on logo */
.logo:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* Header styling */
.header-text {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9d673a;
  color: white;
  padding: 5px 20px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  width: auto;
}

/* New background container styling */
.new-bg-container {
  background-color: #9d673a;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 250px;
}

/* Styling for the choices (Pickup/Delivery) as buttons */
.choice {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 8px 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  width: 45%;
  aspect-ratio: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  border: none;
  color: black;
}

/* Hover effect for each choice */
.choice:hover {
  background-color: #c9c3c3;
  color: black;
}
/* Pickup ID styling */
.pickup-id {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
/* Profile icon styling */
.profile-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover effect on profile icon */
.profile-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* Responsive Design */
@media (max-width: 768px) {
  .logo {
    width: 80px;
  }

  .header-text {
    font-size: 24px;
  }

  .profile-icon {
    width: 60px;
    height: 60px;
  }

  /* Smaller font size and padding for mobile view */
  .choice {
    font-size: 12px;
    padding: 5px 0;
    width: 80%;
  }
}
