body {
  font-family: sans-serif;
  margin: 0;
  position: relative;
  background: rgba(
    0,
    0,
    0,
    0
  );
}

body::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 800px;
  height: 800px;
  background-image: url("System Pictures/BSIT-2F_Logo_real-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}
.logo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.logo-button img {
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.logo-button img:hover {
  transform: scale(1.1);
}
.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.order-btn {
  padding: 10px 20px;
  background-color: #724420;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-btn:hover {
  background-color: #504837ec;
}
.order-window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.order-content {
  background-color: #9d673a;
  padding: 30px;
  border-radius: 8px;
  top: 18vh;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner {
  position: relative;
  width: calc(100% - 15%);
  margin: 0 auto;
  height: 250px;
  background-image: url("System Pictures/Mocha Frappe x Chocolate Croissant Banner.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid black;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.banner:hover .banner-overlay {
  background-color: rgba(108, 104, 104, 0.7);
}

@media (max-width: 768px) {
  .banner {
    height: 200px;
  }

  .banner-overlay {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 150px;
  }

  .banner-overlay {
    font-size: 1rem;
  }
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  width: 25px;
  height: 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
}

.close-btn:hover {
  background-color: #d32f2f;
}

.order-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.order-name {
  font-size: 30px;
  margin: 10px 0;
  color: #000000;
  font-family: Krona One;
}

.order-price {
  font-size: 18px;
  color: #000000;
  margin: 5px 0;
  font-family: Krona One;
}

.order-description {
  font-size: 15px;
  color: #000000;
  margin: 10px 0;
  font-family: Krona One;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.quantity button {
  width: 30px;
  height: 30px;
  background-color: #c6a988;
  color: #000000;
  border: none;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}

.quantity button:hover {
  background-color: #df9643;
}

.quantity input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  margin: 0 5px;
  border: 1px solid #9d673a;
  border-radius: 3px;
}

.add-to-order {
  padding: 10px 20px;
  background-color: #c6a988;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Krona One;
}

.add-to-order:hover {
  background-color: #df9643;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
}
.Pc1-container {
  align-items: center;
  margin-left: 5px;
  margin-top: 10px;
}
.Pc2-container {
  align-items: center;
  margin-left: 105px;
  margin-bottom: 100px;
}

.order-now-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.order-now-button {
  background-color: #c6a988;
  color: #000000;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Abel", sans-serif;
  text-decoration: none;
}

.order-now-container :hover {
  transform: scale(1.1);
  color: black;
}

.profile-button {
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
}

.profile-button p {
  margin: 0;
  padding-top: 2px;
}

.profile-button:hover {
  background-color: #c6a988;
  color: black;
}

.Cart-button {
  background-color: #c6a988;
  padding: 5px 10px;
  border: none;
  font-family: "Abel";
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Cart-button img {
  width: 55px;
  height: 55px;
}
.Cart-button img:hover {
  transform: scale(1.1);
}


.search-container {
  display: flex;
  align-items: center;
  margin: 20px 95px;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
}


#search-input {
  position: absolute;
  left: 65px;
  top: 0;
  width: 0;
  opacity: 0;
  border: none;
  transition: all 0.4s ease;
  padding: 0;
  background-color: #c6a988;
  border: 2px solid #000000;
  z-index: 1;
}


.search-wrapper:focus-within #search-input {
  width: 220px;
  opacity: 1;
  padding: 12px;
}

.search-button {
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}
.search-button :hover {
  transform: scale(1.1);
}

.search-button img {
  width: 45px;
  height: 45px;
}


.pc-container {
  display: flex;
  gap: 10px;
}
.pc-container :hover {
  transform: scale(1.1);
}

.pc-now-button {
  background-color: #c6a988;
  color: #000000;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Abel", sans-serif;
  height: 50px;
}


.product-frame {
  background-color: #9e7148;
  border: 1px solid #9e7148;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.product-frame:hover {
  transform: scale(1.15) translateY(-20px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 200px; 
  width: auto;
  object-fit: cover; 
  transition: transform 0.3s ease; 
}
.product-frame:hover .product-image {
  transform: scale(1.05);
}
.product-frame:not(:hover) {
  transition: transform 0.3s ease;
}

.product-description {
  font-size: 14px;
  color: #000000;
  margin: 10px 0;
  font-family: abel;
}

.product-title {
  font-size: 20px;
  color: #000000;
  margin: 1px 0;
  font-family: Krona One;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.product-frame:hover {
  cursor: pointer;
}

.product-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}
.additional-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-image:hover {
  transform: scale(1.1);
}

.icon-button img {
  width: 90px;
  height: 90px;
}

.logo-image:hover {
  transform: scale(1.1);
}

.row.mt-4.justify-content-end {
  display: flex;
  gap: 0;
  justify-content: flex-end;
  margin-right: 80px;
  margin-top: -10px;
}


.additional-content {
  margin: 0;
  padding: 0;
}


.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.action-button {
  background-color: #c6a988;
  color: #000;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Abel", sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.action-button:hover {
  transform: scale(1.1);
}
.horizontal-line {
  width: 1300px;
  height: 2px;
  background-color: black;
  margin: -20px auto 20px auto;
}


.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 100px;
  justify-content: flex-start;
  margin-top: -100px;
  margin-bottom: 50px;
}


.text-box {
  width: 200px;
  padding: 10px;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.text-box::placeholder {
  color: black;
}


.signup-button {
  padding: 10px 20px;
  background-color: #c6a988;
  border: 2px solid black;
  color: black;
  font-family: "Abel", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.signup-button:hover {
  transform: scale(1.1);
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 5px;
  padding-right: 100px;
}


.icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}


.icon-image {
  width: 90px;
  height: 80px;
  transition: transform 0.3s ease;
}

.icon-image:hover {
  transform: scale(1.1);
}
